.register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    display: inline-block;
    width: 30rem;
    height: 3rem;
    padding: 2.5rem 1rem;
    font-size: 1.7rem;
    font-family: inherit;
    color: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    border-radius: 0.5rem;
    outline-color: var(--color-gray-light);
    caret-color: var(--color-secondary-blue);

    &::-webkit-input-placeholder {
      text-transform: capitalize;
      color: var(--color-gray-dark);
      font-size: 1.4rem;
    }
  }

  &__file {
    display: inline-block;
    width: 30rem;
    height: 3rem;
    padding: 2.5rem 1rem;
    padding-bottom: 4rem;
    border: 1px solid var(--color-gray-light);
    border-radius: 0.5rem;
    outline-color: var(--color-gray-light);
  }

  &__button {
    border: none;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    height: 5rem;
    padding: 1rem 2rem;
    background-color: var(--color-secondary-blue);
    color: var(--color-white);
    border-radius: 0.5rem;
    outline-color: var(--color-gray-light);
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      background-color: #0071c28c;
      cursor: not-allowed;
    }
  }

  &__error {
    color: var(--color-red);
  }
}
