.list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__wrapper {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    gap: 2rem;
  }

  &__search {
    flex: 1;
    background-color: #febb02;
    padding: 1rem;
    border-radius: 1rem;
    position: sticky;
    top: 1rem;

    &--title {
      font-size: 2rem;
      color: #555;
      margin-bottom: 1rem;
    }
  }

  &__result {
    flex: 3;
  }
}
