.list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__wrapper {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    gap: 2rem;
  }

  &__search {
    flex: 1;
    background-color: #febb02;
    padding: 1rem;
    border-radius: 1rem;
    position: sticky;
    top: 1rem;

    &--title {
      font-size: 2rem;
      color: #555;
      margin-bottom: 1rem;
    }

    &--item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;

      label {
        font-size: 1.2rem;
      }

      input {
        border: none;
        display: inline-block;
        height: 3rem;
        padding: 1.8rem 0.5rem;
        font-family: inherit;
        outline-color: #999;
        border-radius: 3px;
      }

      span.searchText {
        height: 3rem;
        padding: 1.8rem 0.5rem;
        background-color: #fff;
        border-radius: 3px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .option {
        padding: 1rem;

        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          color: #555;
          font-size: 1.2rem;
        }

        &__text {
          text-transform: capitalize;

          small {
            text-transform: lowercase;
          }
        }

        &__input {
          width: 5rem;
          padding: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }

    &--btn {
      border: none;
      display: inline-block;
      width: 100%;
      padding: 1rem;
      font-weight: 500;
      background-color: #0071c2;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &__result {
    flex: 3;
  }
}
