.hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__wrapper {
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    .bookNow {
      position: absolute;
      top: 1rem;
      right: 0;
      border: none;
      display: inline-block;
      font-weight: bold;
      padding: 1rem 2rem;
      background-color: var(--color-secondary-blue);
      color: #fff;
      outline-color: #999;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }

  &__title {
    text-transform: capitalize;
    font-size: 2.4rem;
  }

  &__address {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__distance {
    font-weight: 500;
    color: var(--color-secondary-blue);
  }

  &__priceHighlight {
    font-weight: 500;
    color: #008009;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__imgWrapper {
    width: 33%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__detailsTexts {
    flex: 3;

    &--desc {
      font-size: 1.4rem;
      margin-top: 2rem;
    }
  }

  &__detailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 1.8rem;
      color: #555;
    }

    span {
      font-size: 1.4rem;
    }

    h2 {
      font-weight: 300;
    }

    button {
      border: none;
      display: inline-block;
      padding: 1rem 2rem;
      font-weight: bold;
      background-color: var(--color-secondary-blue);
      color: #fff;
      outline-color: #999;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.426);
  display: flex;
  align-items: center;
  z-index: 3000;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__img {
    width: 80%;
    height: 80vh;
    object-fit: cover;
  }

  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: lightgray;
    cursor: pointer;
    z-index: 3000;
  }

  .arrow {
    margin: 2rem;
    font-size: 5rem;
    color: lightgray;
    cursor: pointer;
  }
}
