.featuredProperties {
  width: 100%;
  max-width: 102.4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  &__item {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }

  &__img {
    width: 100%;
  }

  &__name {
    font-weight: bold;
  }

  &__city {
    font-weight: 3;
  }

  &__price {
    font-weight: 500;
  }

  &__rating {
    button {
      border: none;
      display: inline-block;
      font-weight: bold;
      padding: 0.3rem;
      background-color: var(--color-primary-blue);
      color: var(--color-white);
      outline-color: #999;
      border-radius: 1px;
      margin-right: 1rem;
    }

    span {
      font-size: 1.4rem;
    }
  }
}
