.searchItem {
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;

  &__img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }

  &__desc {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--title {
      text-transform: capitalize;
      font-size: 2rem;
      color: var(--color-secondary-blue);
    }

    &--distance {
      font-size: 1.2rem;
    }

    &--taxiOp {
      width: max-content;
      font-size: 1.2rem;
      padding: 0.3rem;
      background-color: #008009;
      color: #fff;
      border-radius: 0.5rem;
    }

    &--subtitle {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &--features {
      font-size: 1.2rem;
    }

    &--cancelOp {
      font-weight: bold;
      font-size: 1.2rem;
      color: #008009;
    }

    &--cancelOpSubtitle {
      font-size: 1.2rem;
      color: #008009;
    }
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--rating {
      display: flex;
      justify-content: space-between;

      span {
        text-transform: capitalize;
        font-weight: 500;
      }

      button {
        border: none;
        display: inline-block;
        font-weight: bold;
        padding: 0.5rem;
        background-color: var(--color-primary-blue);
        color: #fff;
        border-radius: 2px;
      }
    }

    &--texts {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &--price {
      font-size: 2.4rem;
    }

    &--taxOp {
      font-size: 1.2rem;
      color: gray;
    }

    &--checkbtn {
      border: none;
      display: inline-block;
      padding: 1rem 0.5rem;
      background-color: var(--color-secondary-blue);
      color: #fff;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
