.header {
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;

  &__container {
    width: 100%;
    max-width: 102.4rem;
    margin: 2rem 0 10rem 0;

    &.listMode {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    gap: 4rem;
    margin-bottom: 5rem;

    &--item {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;

      &.active {
        border: 1px solid #fff;
        padding: 1rem;
        border-radius: 2rem;
      }

      span {
        text-transform: capitalize;
      }
    }
  }

  &__title {
    font-size: 3.2rem;
  }

  &__desc {
    margin: 2rem 0;
    font-size: 1.6rem;
  }

  &__btn {
    border: none;
    font-weight: 500;
    background-color: #0071c2;
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  &__search {
    height: 3rem;
    width: 100%;
    max-width: 102.4rem;
    font-size: 1.6rem;
    background-color: #fff;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -2.5rem;
  }

  &__searchItem {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--icon {
      color: lightgray;
    }
  }

  &__searchInput {
    border: none;
    outline: none;

    &::placeholder {
      font-size: 1.6rem;
      color: lightgray;
    }
  }

  &__searchText {
    color: lightgray;
    cursor: pointer;
  }

  .date {
    position: absolute;
    top: 5rem;
    z-index: 2000;
  }

  .options {
    position: absolute;
    top: 5rem;
    background-color: #fff;
    color: gray;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 1rem -0.5rem rgba(0, 0, 0, 0.4);
    z-index: 2000;

    &__item {
      width: 20rem;
      display: flex;
      justify-content: space-between;
      margin: 1rem;
    }

    &__text {
      text-transform: capitalize;
    }

    &__counter {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      color: #000;

      &--btn {
        width: 3rem;
        height: 3rem;
        border: 1px solid #0071c2;
        background-color: #fff;
        color: #0071c2;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
