.navbar {
  height: 5rem;
  background-color: #003580;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 102.4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 500;
    font-size: 1.6rem;
  }

  &__items {
    &--button {
      margin-left: 2rem;
      border: none;
      padding: 0.5rem 1rem;
      color: #003580;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
