:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green: #008009;
  --color-yellow: #febb02;
  --color-gray-dark: #555;
  --color-gray-light: #999;
  --color-primary-blue: #003580;
  --color-secondary-blue: #0071c2;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-dark);
  background-clip: content-box;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(5, 5, 5, 0.35);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
